header 
    {
        padding-top: 1%;
        padding-right: 3%;
        padding-bottom: 1%;
        border-style: solid;
        border-width: 0.5px;

        background-image: url(img/Header01.png);
        background-repeat: no-repeat;
        background-size: cover;

        height: 180px;
    }

    main
    {
        background-image: url(img/Main-Background01.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        
    }
    
    
#header01 {text-align: right;  color: bisque; font-size: 20pt;}
#header02 {text-align: right;  color: bisque; font-size: 10pt;}
#header03 {text-align: right;  color: goldenrod; font-size: 60pt;}

#bem-vindo01 {color: green;font-size: 30pt}
#bem-vindo02 {color: red; font-size: 50pt}